@import url('https://fonts.googleapis.com/css2?family=Gloria+Hallelujah&family=Rampart+One&display=swap');
welcome{
    font-family: 'Gloria Hallelujah', cursive;
    color: rgb(1,116,96);
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
}
body{
    /* background-color: #E6DDC5; */
    background-color: white;
    padding-left: 5%;
    padding-right: 5%;
}
.first-row{
    display: flex;
    justify-content:space-evenly;
    flex-direction: row;
    gap: 10%;
}
.column {
    width: 33.33%;
    padding: 5px;
  }
.row::after {
    content: "";
    clear: both;
    display: table;
}
.row{
    display: flex;
    flex-direction: row;
}